---
layout: default
---

{% for post in site.posts %}
<article class="post-list">
    <header><p>Por @{{ post.author.display_name }} el {{ post.date | date: "%-d de %b de %Y" }} a las {{ post.date | date: "%H:%M" }}</p></header>
    <div>{{ post.content }}</div>
    <aside>
		<p><strong>Tags:</strong>
		{% for tag in post.tags %}
		<a href="http://notas.tales-tra.com/tag/{{ tag }}/" rel="tag">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
		{% endfor %}
		</p>
	</aside>
</article>
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
